{% block header %}
<h1>{% block title %}Recommended Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="movie_cards_area pb-5 pt-3" movie_id="movie_cards">
    <div class="container">
    {% for movie_row in movies_info | batch(3, '&nbsp;') %}
    <div class="row">
        {% for movie in movie_row %}
            <div class="col-lg-4">
                <div class="text-center card" style="max-height: 419px; max-width:350px;">
                    <img class="thumb card-img-top" src="{{ movie['Image_URL'] }}" alt="" 
                        style="max-height: 200px !important;max-width: 150px !important;min-height: 200px !important;min-width: 150px !important; margin-left:auto; margin-right: auto;">
                    <div class="card-body">
                        <a href="{{ movie['IMDB_URL']}}">
                            <h5 class="card-title">{{ movie['Title'] }}</h5>
                        </a>
                        <p class="card-text" style="max-height: 48px;font-size: 11px;overflow: hidden;">{{movie['movie_desc']}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}