{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for movie_row in movies.index | batch(3, '&nbsp;') %}
<div class="row">
    
    {% for movie in movie_row %}

    <div class="col-lg-4">
        <div class="single_movie text-center">
            <div class="thumb">
                <img src="http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)" alt="">
            </div>
            <a href="https://en.wikipedia.org/wiki/Jumanji">
                <h5>{{ movie }}</h5>
            </a>
            <p>Jumanji is a 1995 American fantasy adventure film directed by Joe Johnston..</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
