{% extends 'base.html' %}

{% block content %}

<body>
    <div class="grid">
        <header class="header">
            <i class="fas fa-bars header__menu"></i>
            <div class="header__search">
                <input class="header__input" placeholder="Search..." />
            </div>
            <div class="header__avatar">
                <div class="dropdown">
                    <ul class="dropdown__list">
                        <li class="dropdown__list-item">
                            <span class="dropdown__icon"><i class="far fa-user"></i></span>
                            <span class="dropdown__title">my profile</span>
                        </li>
                        <li class="dropdown__list-item">
                            <span class="dropdown__icon"><i class="fas fa-clipboard-list"></i></span>
                            <span class="dropdown__title">my account</span>
                        </li>
                        <li class="dropdown__list-item">
                            <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="dropdown__title">log out</span>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Sidebar Starts Here -->
        <aside class="sidenav">
            <div class="sidenav__brand">
                <a class="sidenav__brand-link" href="#">Movie Recommendation System</a>
                <i class="fas fa-times sidenav__brand-close"></i>
            </div>
            <div class="sidenav__profile">
                <div class="sidenav__profile-avatar"></div>
                <div class="sidenav__profile-title text-light">{{ g.user['username'] }}</div>
            </div>
            <div class="row row--align-v-center row--align-h-center">
                <ul class="navList">
                    <li class="navList__heading">Category<i class="fas fa-chart-bar"></i></li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-title">Horrors</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">The Conjuring</li>
                            <li class="subList__item">The Perfection</li>
                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <!-- <span class="navList__subheading-icon"><i class="fas fa-phone"></i></span> -->
                            <span class="navList__subheading-title">Action</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Logan</li>
                            <li class="subList__item">Wonder Woman</li>
                        </ul>
                    </li>
                    <li>
                        <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-title">Comedy</span>
                        </div>
                        <ul class="subList subList--hidden">
                            <li class="subList__item">Hot Fuzz</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

    <div>
        <h1> movies of your choices: </h1>
        <a href="{{url_for ('movies.index')}}">Visit Here</a>
    </div>

        <main class="main">
            <div class="main-header">
                <div class="main-header__intro-wrapper">
                    <div class="main-header__welcome">
                        <div class="main-header__welcome-title text-light">Welcome, <strong>{{ g.user['username'] }}</strong></div>
                        <div class="main-header__welcome-subtitle text-light">How are you today?</div>
                    </div>
                    <div class="quickview">
                        <div class="quickview__item">
                            <div class="quickview__item-total">41</div>
                            <div class="quickview__item-description">
                                <i class="far fa-calendar-alt"></i>
                                <span class="text-light">Recommendation</span>
                            </div>
                        </div>
                        <div class="quickview__item">
                            <div class="quickview__item-total">26&deg;</div>
                            <div class="quickview__item-description">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="text-light">Kathmandu</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- movie_card_start  -->
            <div class="movie_cards_area pb-5 pt-3" id="movie_cards">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="single_movie text-center">
                                <div class="thumb">
                                    <img src="https://upload.wikimedia.org/wikipedia/en/b/b6/Jumanji_poster.jpg" alt="">
                                </div>
                                <a href="https://en.wikipedia.org/wiki/Jumanji">
                                    <h5>Jumanji</h5>
                                </a>
                                <p>Jumanji is a 1995 American fantasy adventure film directed by Joe Johnston..</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single_movie text-center">
                                <div class="thumb">
                                    <img src="https://upload.wikimedia.org/wikipedia/en/b/b0/Avatar-Teaser-Poster.jpg"
                                        alt="">
                                </div>
                                <a href="https://en.wikipedia.org/wiki/Avatar_(2009_film)">
                                    <h5>Avatar</h5>
                                </a>
                                <p>Avatar (marketed as James Cameron's Avatar) is a 2009 American epic science fiction
                                    film..</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single_movie text-center">
                                <div class="thumb">
                                    <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Iron_Man_poster.jpg"
                                        alt="">
                                </div>
                                <a href="https://en.wikipedia.org/wiki/Iron_Man_(2008_film)">
                                    <h5>Iron Man</h5>
                                </a>
                                <p>Iron Man is a 2008 American superhero film based on the Marvel Comics character of
                                    the same name..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- movie_card_area_end  -->

        
        


        </main>

        <footer class="footer">
            <p><span class="footer__copyright">&copy;</span> 2021</p>
            <p>Crafted with <i class="fas fa-heart footer__icon"></i> by Movie Recommendation System Team
            </p>
        </footer>
    </div>
</body>
{% endblock %}

</html>