{% extends 'base.html' %}

{% block content %}
    <main class="main">
        <div class="main-header">
            <div class="main-header__intro-wrapper">
                <div class="main-header__welcome">
                    <div class="main-header__welcome-title text-light">Welcome, <strong>{{ g.user['username'] }}</strong></div>
                    <div class="main-header__welcome-subtitle text-light">How are you today?</div>
                </div>
                <div class="quickview">
                    <div class="quickview__item">
                        <div class="quickview__item-total">26&deg;</div>
                        <div class="quickview__item-description">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="text-light">Kathmandu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div >
            <h1> Recommeded Movies: </h1>
                <a class="btn btn-primary btn-lg" role="button" href="{{url_for ('movies.index')}}">Visit Here</a>
            </div>  

            <div>
            <h1> Rate your movies here: </h1>
            <a class="btn btn-primary btn-lg" role="button" href="{{url_for ('movies.list')}}">Rate Movie Here</a>
        </div>
    </main>
{% endblock %}

</html>